@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

body {
    font-family : Helvetica, Arial, 'LiHei Pro', 'Microsoft YaHei', '微軟正黑體',"Apple LiGothic Medium", sans-serif;
}

h1, h2, h3, h4 {
    font-family : Arial, Georgia, Helvetica Neue, '微軟正黑體',"Apple LiGothic Medium", sans-serif;
}

.form-title {
    color: #35C8B2;
    font-size: 1.6em;
    line-height: 1.6em;
}

.navbar {
    background-color: #35C8B2;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

#register-section {
    margin-bottom: 260px;
}

#register-section.focus {
    margin-bottom: 50px;
}

#user-register-features .borderless, #user-register-features .list-group-item {
    border: none;
}

#group-register-features .borderless, #group-register-features .list-group-item {
    border: none;
}

.list-group-item.default {
    color: #888;
}

.list-group-item.important {
    color: #008695;
}

.steps-hint {
    margin-top: 30px;
    margin-bottom: 30px;
}

#add-store-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#show-password-container, #show-password-small-container, #store-search {
    margin-top: 15px;
}

#show-password-container .ui.toggle.checkbox input[type="checkbox"]:checked ~ label {
    color: #d34f44;
}

#show-password-container .ui.toggle.checkbox input[type="checkbox"]:checked ~ label::before {
    background-color: #d34f44;
}

.password {
    font-size: 0px;
}

.password-show {
    font-size: inherit;
}

#add-store-modal .row, #update-store-modal .row {
    padding-left: 10px;
    padding-right: 10px;
}

#add-store-form .ui.toggle.checkbox .box:before, #add-store-form .ui.toggle.checkbox label:before,
#update-store-form .ui.toggle.checkbox .box:before, #update-store-form .ui.toggle.checkbox label:before {
    margin-left: 15px;
    margin-top: 8px;
}

#add-store-form .ui.toggle.checkbox .box:after, #add-store-form .ui.toggle.checkbox label:after,
#update-store-form .ui.toggle.checkbox .box:after, #update-store-form .ui.toggle.checkbox label:after {
    margin-left: 15px;
    margin-top: 8px;
}

#error-modal .header {
    color: #d34f44;
}

#store-table {
    margin-top: 5px;
}

#store-table tbody button {
    margin-left: 5px;
}

.highlight {
    background-color: #ffdc00;
}

#activity-table {
    margin-top: 20px;
}

.activity-form {
    margin-top: 20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.show-activity section {
    margin-bottom: 8px;
    padding: 10px;
}

.show-activity .banner {
    padding: 0px;
}

.show-activity .banner-image {
    margin: 0 auto;
}

.show-activity .title {
    font-size: 1.6em;
    text-align: center;
    color: #1b4753;
    background-color: #fff;
    text-shadow: 2px 1px rgba(30,30,30,0.1);
    border-bottom: 3px solid #35C8B2;
}

.show-activity .header {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #2EB3A6;
}

.show-activity .content {
    font-size: 1.1em;
    color: #ffffff;
}

.show-activity .content ul {
    font-size: 1.1em;
    color: #333;
}

.show-activity .date, .show-activity .store-address {
    color: #2EB3A6;
}

.show-activity .badge {
    background-color: #D55151;
}

.show-gift-photo {
    line-height: 200px;
    text-align: center;
    color: #fff;
    background: #ccc;
    border-radius: 4px;
    border: 2px solid #CCC;
}

#send-ticket-gift-form {
    padding: 20px;
}

.target-ticket:target {
    animation : color-transition 2s;
}

@keyframes color-transition {
    0% {
        background-color: rgba(255, 243, 0, 0.56);
    }

    100% {
        background-color: #fff;
    }
}

.home-ticket-photo {
    line-height: 200px;
    text-align: center;
    color: #fff;
    background: #ccc;
    border-radius: 4px;
    border: 2px solid #CCC;
}

@media screen and (max-width: 768px) {
    .container.show-activity {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.gift-photo {
    padding: 3px 0px;
    margin: 0 auto;
    width: 121px;
    color: #CCC;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #CCC;
    border-radius: 4px;
    display: -webkit--box;
    display: -moz--box;
    display: -ms--flexbox;
    display: -webkit--flex;
    display: -flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    vertical-align: text-top;
}

.frame {
    margin-bottom: 15px;
    -moz-box-shadow: 3px 3px 5px 3px #ccc;
    -webkit-box-shadow: 3px 3px 5px 3px #ccc;
    box-shadow: 3px 3px 5px 3px #ccc;
    background-color: #3d3d3d;
    border-radius: 5px;
}

.body-frame {
    padding: 15px;
}

.plus-btn:hover {
    cursor: pointer;
    position: relative;
    top: 0px;
}

.plus-btn:active {
    position: relative;
    top: 1px;
}

.minus-btn {
    position: relative;
    top: 0px;
    cursor: pointer;
    font-size: 1.6em;
    line-height: 1.6em;
    color: crimson;
}

.minus-btn:active {
    position: relative;
    top: 1px;
}

.text-right {
    text-align: right;
}

.gift-image {
    max-width: 115px;
    height: 100px;
    margin: 0 auto;
}

.ex-row-body {
    margin-top: 15px;
}

.ex-minus-btn {
    line-height: 100px;
}

@media screen and (max-width: 728px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
}

.ui.search .prompt {
    border-radius: 4px;
}

.ui.compact.selection.dropdown {
    min-width: 100px;
}

.ui.input {
    width: 100%;
}

.ui.input input {
    width: 100%;
}

.ui.vertical.menu {
    width: 100%;
}

.search-item-container {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.search-item-box {
    margin-bottom: 15px;
}

.search-item-title {
    border-bottom: 1px solid #ffffff;
}

.search-item-title a {
    text-shadow: 1px 2px 2px rgba(206, 206, 206, 0.10);
    font-size: 1.4em;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-item-image-container {
    padding-left: 0px;
    position: relative;
}

.search-item-image {
    position: absolute;
    min-height: 200px;
    margin: 0 auto;
    width: 100%;
    overflow-y: hidden;
    color: #CCC;
    display: -webkit--box;
    display: -moz--box;
    display: -ms--flexbox;
    display: -webkit--flex;
    display: -flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    vertical-align: text-top;
}


.inner-container {
    margin-top: 164px;
}

.search-item-body-container {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1.0));
    min-height: 400px;
    overflow: hidden;
}

.search-item-body {
    word-wrap: break-word;
    word-break: break-all;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.30);
    min-height: 160px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: 32px;
    max-height: 160px;
}

.search-item-time-container {
    padding: 10px 15px;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 1.1em;
    line-height: 1.1em;
}

.section-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.section-title span {
    display: inline-block;
    background: #ffffff;
    padding: 0 20px;
    font-size: 26px;
    position: relative;
    top: 5px;
    z-index: 2;
}

.section-title::after {
    content: "";
    border-top: 2px solid #e2e2e2;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 55px;
    left: 0;
}

.margin-bottom {
    margin-bottom: 8px !important;
}

@media screen and (max-width: 992px) {
    .search-item-body {
        min-height: 20px;
    }
}

.number-picker {
    margin-top: 10px;
}

.hint {
    margin-bottom: 15px;
}

.badge-info {
    background-color: #f0ad4e;
}

.text-green {
    color: #2eb3a6;
}

.text-orange {
    color: #f0ad4e;
}

.one-line {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.limit-height-list {
    max-height: 150px;
    overflow-y: scroll;
}

.grid-item {
    margin-bottom: 30px;
}

.center-card {
    display: block;
    margin: 0 auto;
}

.graph-background {
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.25);
}

.big-text {
    font-size: 1.6em;
}

.green-text {
    color: #35C8B2;
}

.red-text {
    color: #db0000;
}

.white-text {
    color: #ffffff;
}