.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.menu-option-list {
    list-style-type: none;
    position:relative;
    clear: left;
}

.menu-option-list li {
    text-decoration: none;
    float: left;
    font-size: 18px;
}
.menu-option-list li a:hover {
    color:#2198A8;
}

.navbar a {
    color:white;
}

.introduction {
    height: 400px;
    margin-top: 100px;
}

.introduction span {
     font-size: 1.75em;
}

.head-segment {
    background-color: rgb(0, 0, 0);
    min-height: 600px;
    background-image: radial-gradient(farthest-corner, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5));
    background-position: 50% 50%;
    border-bottom: medium none;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    transition: background-color 3s ease-in-out 1s;
}

.opening {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.spin-object {
    background-repeat:no-repeat;
    -webkit-animation: spin 60s linear 0s infinite normal;
    -moz-animation: spin 60s linear 0s infinite normal;
    -ms-animation: spin 60s linear 0s infinite normal;
    -o-animation: spin 60s linear 0s infinite normal;
    animation: spin 60s linear 0s infinite normal;
}

@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes spin {
    0% {-ms-transform: rotate(360deg); }
    100% { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(360deg); }
    100% { -o-transform: rotate(0deg); }
}

video { display: block; }

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    margin: 0 auto;
}

.title-msg span {
    display: inline-block;
    margin-top: 50px;
    font-size: 4.0em;
}

.title-msg p {
    font-size: 1.8em;
    color:#2198A8;
}

#register-btn {
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 15px;
}

.feature-segment {
    margin-top: 30px;
}

.feature-img {
    font-size: 200px;
    display: block;
    text-align: center;
    line-height: 200px;
    color: #35C8B2;
}

.feature {
    margin:0 auto;
    padding:5px;
    max-width:300px;
}

.feature p {
    margin-top: 15px;
    font-size: 1.2em;
}

.middle-segment {
    min-height: 670px;
    background-color: #444;
    background-image: radial-gradient(farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-position: 50% 50%;
    border-bottom: medium none;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    transition: background-color 3s ease-in-out 1s;
    margin-top: 30px;
    padding-top: 50px;
    clear:both;
}

.middle-img {
    padding: 30px;
    margin: 10px;
}
.middle-msg span {
    display: inline-block;
    margin-top: 50px;
    font-size: 4.0em;
    padding: 15px;
    color:white;
}

.middle-msg p {
    font-size: 1.8em;
    color:#2198A8;
}

#newbtn {
    font-size: 18px;
    margin-top: 30px;
}

.footer-segment {
    background-color: #2198A8;
    background-position: 50% 50%;
    border-bottom: medium none;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    transition: background-color 3s ease-in-out 1s;
    margin-top: 30px;
    clear:both;
    padding:15px;
}

.footer-list li {
    list-style-type: none;
    text-align: left;
}

.footer-list a {
    color:white;
}

@media screen and (max-width: 768px) {
    .middle-img {
        padding: 50px;
        max-height: 500px;
    }

    .middle-segment {
        height: 1000px;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .middle-segment {
        height: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .head-segment {
        min-height: 500px;
    }

    .introduction {
       margin-top:0px;
    }
    
    .title-msg span {
        margin-top:0px;
    }
    .title-msg p {
        margin-bottom: 15px;
    }

    .middle-segment {
        min-height: 500px;
    }
}

.small-text {
    font-size: 1.0em !important;
}